@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: oklch(0.9824 0.0251 99.518);
  --foreground: oklch(0.3396 0.0279 284.8179);
  --card: oklch(0.9791 0.0304 98.8508);
  --card-foreground: oklch(0.3593 0.0513 273.1802);
  --popover: oklch(0.9542 0.0121 96.4247);
  --popover-foreground: oklch(0.3593 0.0513 273.1802);
  --primary: oklch(0.3143 0.0467 257.4345);
  --primary-foreground: oklch(0.9679 0.0226 98.6355);
  --secondary: oklch(0.946 0.0359 98.414);
  --secondary-foreground: oklch(0.3143 0.0467 257.4345);
  --muted: oklch(0.8755 0.0391 99.0857);
  --muted-foreground: oklch(0.4558 0.0405 284.6791);
  --accent: oklch(0.8755 0.0391 99.0857);
  --accent-foreground: oklch(0.3143 0.0467 257.4345);
  --destructive: oklch(0.5594 0.167 23.0867);
  --destructive-foreground: oklch(0.9679 0.0226 98.6355);
  --border: oklch(0.8508 0.0522 102.5856);
  --input: oklch(0.8508 0.0522 102.5856);
  --ring: oklch(0.4285 0.0954 258.6489);
  --chart-1: oklch(0.4285 0.0954 258.6489);
  --chart-2: oklch(0.471 0.1567 283.9575);
  --chart-3: oklch(0.5001 0.0928 334.0692);
  --chart-4: oklch(0.6289 0.0661 210.1228);
  --chart-5: oklch(0.5594 0.167 23.0867);
  --sidebar: oklch(0.9492 0.0306 98.866);
  --sidebar-foreground: oklch(0.3593 0.0513 273.1802);
  --sidebar-primary: oklch(0.4285 0.0954 258.6489);
  --sidebar-primary-foreground: oklch(0.9679 0.0226 98.6355);
  --sidebar-accent: oklch(0.882 0.0492 102.2492);
  --sidebar-accent-foreground: oklch(0.3593 0.0513 273.1802);
  --sidebar-border: oklch(0.8508 0.0522 102.5856);
  --sidebar-ring: oklch(0.4285 0.0954 258.6489);
  --font-sans: Geist Mono, monospace;
  --font-serif: Geist Mono, monospace;
  --font-mono: Geist Mono, monospace;
  --radius: 0rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2035 0.0139 285.1021);
  --foreground: oklch(0.8755 0.0391 99.0857);
  --card: oklch(0.2433 0.017 285.0635);
  --card-foreground: oklch(0.8755 0.0391 99.0857);
  --popover: oklch(0.2433 0.017 285.0635);
  --popover-foreground: oklch(0.8755 0.0391 99.0857);
  --primary: oklch(0.638 0.087 301.6974);
  --primary-foreground: oklch(0.2907 0.0236 284.84);
  --secondary: oklch(0.3056 0.0369 273.2268);
  --secondary-foreground: oklch(0.8755 0.0391 99.0857);
  --muted: oklch(0.2433 0.017 285.0635);
  --muted-foreground: oklch(0.8031 0.0608 99.1527);
  --accent: oklch(0.2907 0.0236 284.84);
  --accent-foreground: oklch(0.8755 0.0391 99.0857);
  --destructive: oklch(0.5594 0.167 23.0867);
  --destructive-foreground: oklch(0.2263 0.0214 280.4871);
  --border: oklch(0.2719 0.0295 284.266);
  --input: oklch(0.2719 0.0295 284.266);
  --ring: oklch(0.638 0.087 301.6974);
  --chart-1: oklch(0.638 0.087 301.6974);
  --chart-2: oklch(0.5594 0.167 23.0867);
  --chart-3: oklch(0.7827 0.1579 61.6833);
  --chart-4: oklch(0.6322 0.0698 136.9181);
  --chart-5: oklch(0.6937 0.0951 263.6569);
  --sidebar: oklch(0.2433 0.017 285.0635);
  --sidebar-foreground: oklch(0.8031 0.0608 99.1527);
  --sidebar-primary: oklch(0.719 0.1322 264.2022);
  --sidebar-primary-foreground: oklch(0.2263 0.0214 280.4871);
  --sidebar-accent: oklch(0.3056 0.0369 273.2268);
  --sidebar-accent-foreground: oklch(0.8031 0.0608 99.1527);
  --sidebar-border: oklch(0.2907 0.0236 284.84);
  --sidebar-ring: oklch(0.638 0.087 301.6974);
  --font-sans: Geist Mono, monospace;
  --font-serif: Geist Mono, monospace;
  --font-mono: Geist Mono, monospace;
  --radius: 0rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: 0rem;
  --radius-md: 0rem;
  --radius-lg: 0rem;
  --radius-xl: 0rem;

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

html {
  @apply scroll-smooth;
}

[id] {
  scroll-margin-top: 100px;
}

@supports not selector(::-webkit-scrollbar) {
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent !important;
  }
}

.scroll-shadow:not([data-shadow="false"]) {
  --shadow-height: 20px;
  --scrollbar-width: 8px;
  mask-image:
    linear-gradient(
      to bottom,
      transparent,
      #000 var(--shadow-height),
      #000 calc(100% - var(--shadow-height)),
      transparent 100%
    ),
    linear-gradient(
      to left,
      #fff var(--scrollbar-width),
      transparent var(--scrollbar-width)
    );
  -webkit-mask-image:
    linear-gradient(
      to bottom,
      transparent,
      #000 var(--shadow-height),
      #000 calc(100% - var(--shadow-height)),
      transparent 100%
    ),
    linear-gradient(
      to left,
      #fff var(--scrollbar-width),
      transparent var(--scrollbar-width)
    );
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border);
  border-radius: 0.7rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0.7rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Revert text color */
  -webkit-text-fill-color: var(--color-foreground) !important;
  color: var(--color-foreground) !important;
  caret-color: var(--color-foreground) !important;

  /* Revert background color */
  transition: background-color 5000s ease-in-out 0s;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
